.freetrack-table th {
  background-color: white;
}

.freetrack-likecol,
.freetrack-likecol:focus,
.freetrack-likecol:active {
  border: none;
  outline: none;
  background-color: transparent;
}

.freetrack-likecol__liked,
.freetrack-likecol:enabled:hover {
  color: red;
}

.freetrack-table .form-control {
  width: auto;
  min-width: 100%;
}